/*Qual indíce será selecionado, apenas o item 1 ou o item 2...*/
ul li:nth-child(3) {
    background-color: rebeccapurple;
}

/*Apenas os pares*/
ul li:nth-child(even) {
    background-color: rebeccapurple;
}

/*Apenas os impares*/
ul li:nth-child(odd) {
    background-color: royalblue;
}

/*De 3 em 3 items muda*/
ul li:nth-child(3n) {
    background-color: brown;
}

/*Começando do 5° elemento vou contar de 3 em 3*/
ul li:nth-child(3n+5) {
    background-color: darkcyan;
}